.chiefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chiefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chief-card {
  display: flex;
  gap: 30px;
}

.chiefs-title {
  position: relative;
  margin: 0 auto 80px;
}

.chiefs-title::before {
  left: 0;
}

.chiefs-title::after {
  right: 0;
}

.chiefs-title::before,
.chiefs-title::after {
  position: absolute;
  bottom: 24px;
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: '';
}

.chief-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}

.chief-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chief-text p {
  margin-bottom: 24px;
}

.chief-text p:last-child {
  margin-bottom: 0;
}